# Core
Django==3.2.25
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==3.13.0
python-dotenv==1.2.1
setuptools>=65,<81

# Database
PyMySQL==1.1.2
pyodbc==5.3.0

# Background jobs
celery==5.6.2

# App features
reportlab==4.4.9
Pillow==12.1.0
